body {
  font-family: Quicksand !important;
}

.article-title, .article-description {
  font-family: Lora !important;
}

.article-body {
  font-size: 1.2rem;
  font-family: Lora !important;
}

.article-body p:first-child:first-letter {
  float: left;
  font-size: 60px;
  line-height: 45px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.article-body ul, .list, .milestone ul, .guide-body ul {
  list-style-type: square !important;
}

.article-body ol, .milestone ol, .guide-body ol {
  list-style-type: decimal !important;
}

.article-body li, .milestone li, .guide-body li {
  margin-bottom: 0.8rem;

}

.article-body a, .milestone a, .guide-body a {
  text-decoration: none;
}

.article-body img {
  width: 100%;
}

.article-body .preview-link, .article-body .landscape {
  font-family: Quicksand !important;
}

.article-body blockquote {
  font-family: Quicksand;
  font-size:20px;
}

.article-body hr.lede {
  border: 0;
  height: 1px;
  width: 10%;
  position: relative;
  color:black;
  margin: 30px auto;

  &.center-square{
    background: black;
    
    &:before{
      content: "";
      width: 6px;
      height: 6px;
      background: black;
      display: inline-block;
      border: 2px solid black;
      position: absolute;
      top: -5px;
      left: 50%;
      margin: 0 0 0 -3px;
    }
  }
}

.guide-body ul, .guide-body ol {
  margin: 1.8rem 0;
}

.guide-body h2, .guide-body h3 {
  font-weight:bold;
  margin-bottom: 1rem;
}

.about-body {
  font-size: 1rem;
}

.about-body a {
  text-decoration: none;
}

.about-body ul {
  list-style-type: square !important;
}

.collapse {
  visibility: visible !important;
}

.refi-weekly-summary h5 {
  font-weight: bold;
  margin-top: 2rem;
}